/* --------------------------------------------------------------------------------------------- *
 *  Helper classes. You are free to use these extra helper classes to customize your web site.
/* --------------------------------------------------------------------------------------------- */

/* full cover (parent element must contain "position: relative;") */
.full-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* background image */
.bg-image {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: 1;
}
.bg-fixed {
	background-attachment: fixed;
}

/* fullscreen height */
.full-height { min-height: 100vh;}

/* center aligns (parent element must contain "position: relative;") */
.align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.vertical-align-center {
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.horisontal-align-center {
	position: absolute;
	left: 50%;
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

/* ------------------------------------------------------------------------------------------------------------ *
 *  Responsive columns of same height 
 *  more info: http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height
/* ------------------------------------------------------------------------------------------------------------ */

.row-full-height {
	height: 100%;
}
.col-full-height {
	height: 100%;
	vertical-align: middle;
}
.row-same-height {
	display: table;
	width: 100%;
	/* fix overflow */
	table-layout: fixed;
}
.col-xs-height {
	display: table-cell;
	float: none !important;
}

@media (min-width: 768px) {
	.col-sm-height {
		display: table-cell;
		float: none !important;
	}
}
@media (min-width: 992px) {
	.col-md-height {
		display: table-cell;
		float: none !important;
	}
}
@media (min-width: 1200px) {
	.col-lg-height {
		display: table-cell;
		float: none !important;
	}
}
/* vertical alignments */
.col-top { 
	vertical-align: top;
}
.col-middle {
	vertical-align: middle;
}
.col-bottom {
	vertical-align: bottom;
}